
.jumbotron {
    position: relative;
    background-image: url("/WEB-INF/static/images/twitter-wallpaper.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}


