<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">

    <title>MyTwitter</title>

    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>

</head>
<body>

<div class="container">

    <nav th:replace="fragments/navbar">Navbar</nav>

    <div class="container-fluid">

        <!--left-->
        <div class="col-sm-3 col">
            <div th:replace="fragments/profile_card"></div>
        </div>

        <!--center-->
        <div class="col-sm-6 col">
            <div class="row">
                <div th:each="tweet : ${tweets}">
                    <div class='col-sm-12'>
                        <!--tweet-->
                        <div th:replace="fragments/tweet_card"></div>
                    </div>

                </div>
            </div>
        </div>

        <!--right-->
        <div class="col-sm-3 col">
        </div>
    </div>

</div>

</body>
</html>