<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">

    <title>MyTwitter</title>

    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>

</head>
<body>

<div class="container">

    <nav th:replace="fragments/navbar">Navbar</nav>
    <div class="container-fluid">

        <!--left-->
        <div class="col-sm-3 col">
            <div th:replace="fragments/profile_card"></div>
        </div>

        <!--center-->
        <div class="col-sm-9 col">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li role="presentation" th:class="${activeTab == 'tweets'} ? 'active' : null"><a href="#"
                                                                                                 th:href="${'/'+userProfileCard.login+'/'}">Tweets <span
                        class="badge badge-success"
                        th:text="${userProfileCardTweetsSize}">3</span></a>
                </li>
                <li role="presentation" th:class="${activeTab == 'followings'} ? 'active' : null"><a href="#"
                                                                                                     th:href="${'/'+userProfileCard.login+'/following'}">Following <span
                        class="badge badge-success"
                        th:text="${userProfileCardFollowingsSize}">3</span></a>
                </li>
                <li role="presentation" th:class="${activeTab == 'followers'} ? 'active' : null"><a href="#"
                                                                                                    th:href="${'/'+userProfileCard.login+'/followers'}">Followers <span
                        class="badge badge-success"
                        th:text="${userProfileCardFollowersSize}">3</span></a>
                </li>
            </ul>

            <p></p>

            <!-- Tab panes -->
            <div class="tab-content" th:switch="${activeTab}">
                <div class="tab-pane active" id="tweets" th:case="'tweets'">
                    <div class="col-sm-12">
                        <div th:each="tweet : ${profileTwits}">
                            <div class='col-sm-8'>
                                <!--tweet-->
                                <div th:replace="fragments/tweet_card"></div>
                            </div>
                        </div>
                    </div>
                    <div th:replace="fragments/paginationbar"></div>
                </div>
                <div class="tab-pane active" id="followings" th:case="'followings'">
                    <div class="row">
                        <div th:each="profile : ${profileFollowings}">
                            <div class="col-md-4">
                                <!--profile card-->
                                <div th:replace="fragments/profile_card_mini"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="folowers" th:case="'followers'">
                    <div class="row">
                        <div th:each="profile : ${profileFollowers}">
                            <div class="col-md-4">
                                <!--profile card-->
                                <div th:replace="fragments/profile_card_mini"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>