<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">

    <title>MyTwitter</title>

    <div th:include="fragments/head :: head" th:remove="tag">Global Header</div>

</head>
<body>

<div class="container">

    <nav th:replace="fragments/navbar">Navbar</nav>
    <div class="container-fluid">

        <!--left-->
        <div class="col-sm-3 col">
            <div th:replace="fragments/profile_card"></div>
        </div>

        <!--center-->
        <div class="col-sm-9 col">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li th:class="${activeTab == 'tweets'} ? 'active' : null"><a href="#" th:href="@{/${profile}}"
                                                                             data-toggle="tab">Tweets</a></li>
                <li th:class="${activeTab == 'followings'} ? 'active' : null"><a href="#"
                                                                                 th:href="@{/${profile}/followings}"
                                                                                 data-toggle="tab">Followings</a></li>
                <li th:class="${activeTab == 'followers'} ? 'active' : null"><a href="#"
                                                                                th:href="@{/${profile}/folowers}"
                                                                                data-toggle="tab">Followers</a></li>
            </ul>

            <!-- Tab panes -->


            <div class="tab-content" th:switch="${activeTab}">
                <div class="tab-pane active" id="tweets" th:case="'tweets'">tweets</div>
                <div class="tab-pane active" id="followings" th:case="'followings'">
                    <div class="row">

                        <div class="col-md-4">
                            <!--profile card-->
                            <div class="thumbnail">
                                <img src="http://placehold.it/320x125/EEE" class=""/>

                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="thumbnail pull-left" href="#">
                                            <img class="media-object" src="//placehold.it/80"/>
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <!--<h4 th:text="${profile.firstName + ' ' + profile.lastName}">John Doe</h4>-->
                                            <!--<h5 th:text="${profile.Login}">@login</h5>-->
                                        </div>
                                        <div class="row row-left">
                                            <!--<a href="#" th:href="/${profile.Login}"-->
                                            <!--class="btn btn-default btn-xs"-->
                                            <!--role="button">More</a>-->

                                            <!--<a href="#" method="post" th:action=""-->
                                            <!--class="btn btn-default btn-xs"-->
                                            <!--role="button">Following</a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="folowers" th:case="'followers'">
                    folowers
                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>