<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">

    <title>MyTwitter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link href="http://cdn.jsdelivr.net/webjars/font-awesome/4.4.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.4.0/css/font-awesome.min.css}"
          rel="stylesheet" media="screen"/>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <img src="../static/images/twitter-wallpaper.jpg" width="1000"
             th:src="@{images/twitter-wallpaper.jpg}"/>

        <h1>Hello</h1>

        <h2>MyTwitter app :))))!!!</h2>
    </div>
</div>

</body>
</html>